body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

aside {
    float: left;
    width: 30%;
    padding: 20px;
}

main.container {
    margin-left: 35%; /* Leaves space for the aside on the left */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    color: #1c1c1c;
}

#review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    padding: 10px;
    font-size: 16px;
    resize: vertical;
    min-height: 100px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background-color: #083779;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



#reviews-list {
    margin-top: 20px;
}

.review {
    background-color: #f1f1f1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.review .review-details {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.review.expanded .review-details {
    display: block;
}

.review-title {
    cursor: pointer;
    font-weight: bold;
}